
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgrey;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size:x-large;
}

header{
    padding: 10px 20px;
    margin-bottom: 50px;
    background-color: white;
}

#logo{
    vertical-align: bottom;
}

#logo-text{
    font-size: 50px;
    font-weight: bolder;
}

.selection{
    padding: 30px 50px 15px;
    border-bottom: lightgray solid 5px;
}

.container{
    background-color: white;
    width: 70%;
    margin: auto;
}

.features-task-section{
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.add-task{
    color: white;
    background-color: #09a9ed;
    border: #09a9ed solid 2px;
}

.add-section{
    border: lightgray solid 2px;
    color: lightgray;
}

li{
    list-style: none;
    padding: 10px 0;
}

.tasks{
    padding: 30px 50px;
}

.circle{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px transparent solid;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bolder;
}

.check{
    color:rgb(7, 202, 7);
    border-color: rgb(7, 202, 7);
}

.x{
    color: red;
    border-color: red;
}

.bg{
    color: white;
    border-radius:50px;
    padding: 10px 15px;
    font-size: 15px;
}

.blue-bg-text{
    background-color: #09a9ed;
}

.purple-bg-text{
    background-color: #ab5de6;;
}

.green-bg-text{
    background-color: #2cc6ab;;
}

.orange-bg-text{
    background-color:  #ff9b00;
}

.lightpurple-bg-text{
    background-color:#ec4a9d;
}

.green2-bg-text{
    background-color: #a3d116;;
}